 
html
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    bottom: 0;
}
 
   
   
  .mainnav a
  {
       
      padding:.5em;
      text-decoration:none;
     
      font-weight:bolder;
         font-variant-caps: uppercase;
         font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          
         text-align: center; 
         

      
  }
  .mainnav li
  {
         
         display:inline;
         margin: 8px;
         padding:0mm;
           
           
       
  }
  .mainnav li:hover
  {
      background-color:rgba(255,255,255,.3);
      color:black;
  }
  

  .mainnav
  {
      text-align:left;
      font-weight: bold;
      display:inline-block;
      color:white;
      font-size:1em;
      padding:0;
      word-spacing: 1em;
      

  }
  .help
  {
      text-align:center;
       
      border-bottom: silver 2px solid;
      border-top: silver 2px solid;
      border-color: black;

  }
  body
  {
   background-image: url("this.jpg");
   background-repeat: no-repeat;
   background-color: rgb(0, 0,0,.6);
   background-blend-mode: soft-light; 
   background-size: cover;
   background-attachment: fixed;
   padding-bottom: auto;

  }
 
 
 
h2{
    word-spacing: 0mm;
    text-shadow: 5px  5px 5px cornflowerblue;
    animation: glow 1s ease-in-out infinite alternate;
    padding-bottom: 10%;
    padding-top:6%;
    

}




@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1700e6, 0 0 40px #3d00e6, 0 0 50px #0f00e6, 0 0 60px #0092e6, 0 0 70px #6400e6;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4dc7ff, 0 0 40px #4d9aff, 0 0 50px #4d77ff, 0 0 60px #4d59ff, 0 0 70px #684dff, 0 0 80px #4d5fff;
    }
  }

  
footer{
    background-color: #24262b;
    opacity:.8;
    padding: 70px 0;
  display:relative;
  margin-bottom: auto;
position:static;
width: 100%;
   bottom:0;
   left:0;
   
   

    
}
.about
{
     
    width:25%;
    padding:0 25px;
     
     
   
     
}
ul
{
    list-style:none;
}
.row
{
    display: flex;
    flex-wrap:wrap;
}
.about ul li 
{
    margin-bottom: 10px;
}
 
label
{
    text-decoration: underline;
    color: rgb(12, 189, 243);
    margin-bottom: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}
a
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    color: white;
    text-decoration: none;
   transition: all 0.3s ease-in-out;
    font-weight: 500;
    text-transform: capitalize;
    word-spacing: 1em;
}
a:hover
{
    color:aqua;
    padding-left: 10px;
}
.social a
{
    display: inline;
    height:4px;
    width:40px;
    background-color: rgba(255,255,255,.2);
    margin:0 10px 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 60%;
    color:salmon;
    transition: all 0.3s ease-in-out;
}
.social a:hover
{
    color:slateblue;
    background-color:snow
    padding-left: 10px;
}


